@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
* {
   
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.section-title{
    color: #131313;
    /* text-align: center; */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
}
/* banner section */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
   
}
.banner-title{
    color: #131313;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.banner img{
    width: 100%;
    margin-top: 25px;
}
.btn-primary{
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 0;

}

/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-title{
    font-size: 35px;
}
.teams-title .quick-list{
   color: #727272;
   font-weight: 500;
}
.teams-title .featur{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 14px;
    font-weight: 400;
}
/* some facts area */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
}

.facts-card-container, .card-title{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: 10px;

}

.facts-card-container, .card-stats{
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsor style */

.sponsors{
    text-align: center;
}
.sponsor-title{
    margin-top: 50px;
    color: #131313;
    font-weight: 700;
    font-size: 35px;
}
.sponsor-description{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.sponsor-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.sponsor-img img{
    width: 165px;
}
footer{
    background-color: #FFF4E7;
    width: 1440px;
    height: 100px;
    align-items: center;
}



/* responsive style */
/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img
    {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container{
        padding-right: 25px;
        padding-left: 25px;
    }
    .btn-primary{
        padding: 10px 15px;
    }
    .facts-card-container{
        gap: 15px;
    }
    
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
header{
    padding: 50px;
}  
nav, .teams-container, .sponsor-img {
        flex-direction: column;
    }
   
}